div {
    margin: 2em 5em 3em 5em;
    padding: 2em 6em 2em 6em;
    background: rgb(2, 0, 36);
    background: linear-gradient(117deg, rgba(2, 0, 36, 1) 0%, rgba(125, 129, 150, 0.9757503221014968) 96%, rgba(222, 199, 45, 1) 98%, rgba(222, 199, 45, 1) 98%, rgba(142, 49, 242, 0.5859143339953169) 98%);
    color: #ffff;
    font-family: cursive;
    border-radius: 1.25rem;
}

#container_1 {
    text-align: center;
}

#container_2 {
    display: block;
}

.form {
    width: 100%;
    margin-bottom: 1em;
}

#submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(2, 0, 36);
    color: inherit;
    border-radius: 15px;
    cursor: pointer;
}

textarea {
    width: 100%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #ff1414;
}

p {
    color: rgb(14, 1, 48);
}

.wrapper {
    background: url(image/school.jpg);
    min-height: 50rem;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav ul {
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

img {
    width: 14%;
    margin-left: 1.9rem;
    margin-top: -4%;
}

nav ul li:hover {
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.section {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1 {
    color: #fff;
    line-height: 50px;
}

.section p {
    color: gray;
}

.btn-1 {
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features {
    margin-top: 4%;
    margin-bottom: 2%;
}

.features button {
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}

showcase h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#courses {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#courses img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}

hr {
    border-color: rgb(255, 238, 0);
}